<h1>Super chat con Normalizacion</h1>
<hr />
<div class="chat">

  <form onsubmit="return enviarMensaje()">
    <input type="text" id="email" placeholder="Email@email.com" />
    <input type="text" id="nombre" placeholder="Escriba su Nombre" />
    <input type="text" id="apellido" placeholder="Escriba su Apellido" />
    <input type="text" id="edad" placeholder="Escriba su Edad" />
    <input type="text" id="alias" placeholder="Escriba su Alias" />
    <input type="text" id="avatar" placeholder="url:foto" />
    <input type="text" id="text" placeholder="Escriba su mensaje" />
    <button type="submit" class="btn btn-info"><i
        class="fa fa-send"
      ></i></button>
  </form>
  <div id="messages"></div>

</div>